<div id="grafico-pacientes-especialidad" class="grafico-container">
  <h3>Cantidad de pacientes por especialidad</h3>
  <div class="row">
    <div class="col">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [type]="barChartType">
      </canvas>
    </div>
  </div>
</div>

<div class="row mt-3" style="margin-bottom: 80px;">
  <div class="col text-center">
    <button class="btn btn-dark" (click)="descargarPDF()">Descargar PDF de pacientes por especialidad</button>
  </div>
</div>
