<div class="grafico-container"  style="margin-top: 20px;">
  <div class="container" style="margin-top: 10px;">
    <h3>{{ 'CantidadTurnosPaciente' | translate }}</h3>

    <div class="form-group">
      <label for="paciente" style="color: black;font-weight: bold;">{{ 'SeleccionePaciente' | translate }}</label>
      <select id="paciente" class="form-control" [(ngModel)]="pacienteSeleccionado" (change)="cargarTurnosPaciente()">
        <option *ngFor="let paciente of pacientes" [ngValue]="paciente">{{ paciente.nombre }}  {{paciente.apellido}}</option>
      </select>
    </div>

  </div>


  <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [type]="barChartType">
  </canvas>
</div>
