

<body>
  <div @enterLeaveAnimation>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center schedule-container">
        <h2 class="animate-charcter">{{'ClinicaMedica' | translate}}</h2>
      </div>
      <div class="col-md-12 text-center schedule-container">
        <h3>{{'HorariosAtencion' | translate}}</h3>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12 text-center schedule-container">
        <p class="clinic-description">
          {{'BienvenidosClinica' | translate}}
        </p>
      </div>
    </div>
  <hr><hr>
    <!-- Servicios Ofrecidos -->
    <div class="row services-container justify-content-center">
      <div class="col-md-3 text-center">
        <div class="card service-card">
          <div class="card-body">
            <h5 class="card-title">  {{'ConsultaGeneral' | translate}}</h5>
            <p class="card-text">  {{'ConsultaDescripcion' | translate}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="card service-card">
          <div class="card-body">
            <h5 class="card-title">  {{'Especialidades' | translate}}</h5>
            <p class="card-text">  {{'EspecialidadesDescripcion' | translate}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="card service-card">
          <div class="card-body">
            <h5 class="card-title">  {{'Laboratorio' | translate}}</h5>
            <p class="card-text">  {{'LaboratorioDescripcion' | translate}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row location-contact-container schedule-container justify-content-center">
      <div class="col-md-3 text-center" style="border: radius 10px; ">
        <h5>  {{'Ubicacion' | translate}}</h5>
        <p>Calle Falsa 123, Almagro (CABA), Argentina</p>
        <!-- Puedes usar un iframe de Google Maps aquí -->
      </div>
      <div class="col-md-3 text-center" style="border: radius 10px; ">
        <h5>  {{ 'Contacto'| translate}}</h5>
        <p>  {{ 'Telefono' | translate}} : (123) 456-7890</p>
        <p>Email: contacto@clinicamedica.com</p>
      </div>
    </div>
  </div>

</div>
</body>

