<body>
  <div class="container">
    <!-- Formulario para crear nuevo Administrador -->
    <div class="btn-group btn-group-toggle mb-3"  data-toggle="buttons">
      <label class="btn btn-primary" (click)="toggleForm('admin')">
        {{'crearAdministrador' | translate}}
      </label>
      <label class="btn btn-primary" (click)="toggleForm('paciente')">
        {{'crearPaciente' | translate}}
      </label>
      <label class="btn btn-primary" (click)="toggleForm('especialistasForm')">
        {{'crearEspecialista' | translate}}
      </label>
      <label class="btn btn-primary" (click)="toggleForm('pacientesAdmins')">
        {{'pacientesAdministradores' | translate}}
      </label>
      <label class="btn btn-primary" (click)="toggleForm('especialistas')">
        {{'especialistas' | translate}}
      </label>
      <label class="btn btn-success" (click)="descargarDatosTodosPacientes()">
        {{'descargarDatosPacientes' | translate}}
      </label>
      <label class="btn btn-success" (click)="descargarDatosTodosUsuarios()">
        {{'descargarDatosUsuarios' | translate}}
      </label>
      <label class="btn btn-success" (click)="descargarDatosTodosEspecialistas()">
        {{'descargarDatosEspecialistas' | translate}}
      </label>
    </div>


    <div class="form-container" *ngIf="showAdminForm">
      <!--<div class="form-container">-->
        <div class="card" style="background-color: #333333; margin-top: 10px; margin-right: 15px; color: #ffffff;">
          <div class="card-body">
            <h5 class="card-title">{{'crearNuevoAdministrador' | translate}}</h5>
            <form (ngSubmit)="registrarAdmin()" [formGroup]="adminFormGroup" #adminForm="ngForm">
              <div class="form-group" style="margin-bottom: 5px;">
                <label for="nombre" style="font-size: 0.9em; color: #bbbbbb;">{{'nombre' | translate}}</label>
                <input type="text" id="nombre" class="form-control" name="nombre" formControlName="nombre" required style="background-color: #444444; border: 1px solid #555555; color: #ffffff; height: 45px; padding: 10px; font-size: 1em; border-radius: 5px;">
                <small class="text-danger" *ngIf="adminFormGroup.controls['nombre']?.invalid && adminFormGroup.controls['nombre']?.touched" style="color: #ffffff;">{{'nombreRequerido' | translate}}</small>
              </div>
              <div class="form-group" style="margin-bottom: 5px;">
                <label for="apellido" style="font-size: 0.9em; color: #bbbbbb;">{{'apellido' | translate}}</label>
                <input type="text" id="apellido" class="form-control" name="apellido" formControlName="apellido" required style="background-color: #444444; border: 1px solid #555555; color: #ffffff; height: 45px; padding: 10px; font-size: 1em; border-radius: 5px;">
                <small class="text-danger" *ngIf="adminFormGroup.controls['apellido']?.invalid && adminFormGroup.controls['apellido']?.touched" style="color: #ffffff;">{{'apellidoRequerido' | translate}}</small>
              </div>
              <div class="form-group" style="margin-bottom: 5px;">
                <label for="edad" style="font-size: 0.9em; color: #bbbbbb;">{{'edad' | translate}}</label>
                <input type="number" id="edad" class="form-control" name="edad" formControlName="edad" required style="background-color: #444444; border: 1px solid #555555; color: #ffffff; height: 45px; padding: 10px; font-size: 1em; border-radius: 5px;">
                <small class="text-danger" *ngIf="adminFormGroup.controls['edad']?.invalid && adminFormGroup.controls['edad']?.touched" style="color: #ffffff;">{{'edadRequerida' | translate}}</small>
              </div>
              <div class="form-group" style="margin-bottom: 5px;">
                <label for="dni" style="font-size: 0.9em; color: #bbbbbb;">{{'dni' | translate}}</label>
                <input type="number" id="dni" class="form-control" name="dni" formControlName="dni" required style="background-color: #444444; border: 1px solid #555555; color: #ffffff; height: 45px; padding: 10px; font-size: 1em; border-radius: 5px;">
                <small class="text-danger" *ngIf="adminFormGroup.controls['dni']?.invalid && adminFormGroup.controls['dni']?.touched" style="color: #ffffff;">{{'dniRequerido' | translate}}</small>
              </div>
              <div class="form-group" style="margin-bottom: 5px;">
                <label for="email" style="font-size: 0.9em; color: #bbbbbb;">{{'email' | translate}}</label>
                <input type="email" id="email" class="form-control" name="email" formControlName="email" required email style="background-color: #444444; border: 1px solid #555555; color: #ffffff; height: 45px; padding: 10px; font-size: 1em; border-radius: 5px;">
                <small class="text-danger" *ngIf="adminFormGroup.controls['email']?.invalid && adminFormGroup.controls['email']?.touched" style="color: #ffffff;">{{'emailRequerido' | translate}}</small>
              </div>
              <div class="form-group" style="margin-bottom: 5px;">
                <label for="password" style="font-size: 0.9em; color: #bbbbbb;">{{'password' | translate}}</label>
                <input type="password" id="password" class="form-control" name="password" formControlName="password" required minlength="6" style="background-color: #444444; border: 1px solid #555555; color: #ffffff; height: 45px; padding: 10px; font-size: 1em; border-radius: 5px;">
                <small class="text-danger" *ngIf="adminFormGroup.controls['password']?.invalid && adminFormGroup.controls['password']?.touched" style="color: #ffffff;">{{'passwordRequerida' | translate}}</small>
              </div>
              <input type="file" class="form-control" (change)="cargarImagen1($event,adminFormGroup)" accept="image/*" style="margin-bottom: 5px;">
              <small class="invalid" style="color: red;" *ngIf="pacienteFormGroup.get('imagen1')?.errors?.['required'] && pacienteFormGroup.get('imagen1')?.touched">{{'imagenRequerida' | translate}}</small>
              <button type="submit" class="btn btn-outline-primary" style="border-color: #007bff; color: #007bff; margin-top: 10px;" [disabled]="adminFormGroup.invalid">{{'registrar' | translate}}</button>
            </form>
            <div [class.error-message]="mensajeAdmin !== ''">
              <p>{{mensajeAdmin}}</p>
            </div>
          </div>
        </div>
    </div>
    <!-- Formulario para crear nuevo Paciente -->
    <div class="form-container" *ngIf="showPacienteForm">
      <!--<div class="form-container">-->
        <div class="card" style="background-color: #333333; margin-top: 10px; margin-right: 15px; color: #ffffff;">
          <div class="card-body">
            <h3>{{'crearNuevoPaciente' | translate}}</h3>
            <form [formGroup]="pacienteFormGroup" (ngSubmit)="registrarPaciente()">
              <label>{{'Nombre' | translate}}</label>
              <input name="nombre"  type="text" class="form-control" id="nombre" formControlName="nombre" style="margin-bottom: 5px;">
              <small class="invalid" style="color: red;" *ngIf="pacienteFormGroup.get('nombre')?.errors?.['required'] && pacienteFormGroup.get('nombre')?.touched">{{'nombreRequerido' | translate}}</small>

              <label>{{'Apellido' | translate}}</label>
              <input name="apellido" type="text" class="form-control" id="apellido" formControlName="apellido" style="margin-bottom: 5px;">
              <small class="invalid" style="color: red;" *ngIf="pacienteFormGroup.get('apellido')?.errors?.['required'] && pacienteFormGroup.get('apellido')?.touched">{{'apellidoRequerido' | translate}}</small>

              <label>{{'Email' | translate}}</label>
              <input name="email"  type="text" class="form-control" id="email" formControlName="email" style="margin-bottom: 5px;">
              <small class="invalid" style="color: red;" *ngIf="pacienteFormGroup.get('email')?.errors?.['required'] && pacienteFormGroup.get('email')?.touched">{{'emailRequerido' | translate}}</small>
              <small class="invalid" style="color: red;" *ngIf="pacienteFormGroup.get('email')?.errors?.['email'] && pacienteFormGroup.get('email')?.touched">{{'formatoEmailNoValido' | translate}}</small>

              <label>{{'Edad' | translate}}</label>
              <input name="edad"  type="number" class="form-control" id="edad" formControlName="edad" style="margin-bottom: 5px;">
              <small class="invalid" style="color: red;" *ngIf="pacienteFormGroup.get('edad')?.errors?.['required'] && pacienteFormGroup.get('edad')?.touched">{{'edadRequerida' | translate}}</small>
              <small class="invalid" style="color: red;" *ngIf="(pacienteFormGroup.get('edad')?.errors?.['min'] || pacienteFormGroup.get('edad')?.errors?.['max']) && pacienteFormGroup.get('edad')?.touched">{{'edadEntre' | translate}}</small>

              <label>DNI</label>
              <input name="dni"  type="number" class="form-control" id="dni" formControlName="dni" style="margin-bottom: 5px;">
              <small class="invalid" style="color: red;" *ngIf="(pacienteFormGroup.get('dni')?.errors?.['minLength'] || pacienteFormGroup.get('dni')?.errors?.['maxLength']) && pacienteFormGroup.get('dni')?.touched">{{'dniIncorrecto' | translate}}</small>

              <label>{{'ObraSocial' | translate}}</label>
              <input name="obraSocial"  type="text" class="form-control" id="obraSocial" formControlName="obraSocial" style="margin-bottom: 5px;">
              <small class="invalid" style="color: red;" *ngIf="pacienteFormGroup.get('obraSocial')?.errors?.['required'] && pacienteFormGroup.get('obraSocial')?.touched">{{'obraSocialRequerida' | translate}}</small>

              <label>{{'Password' | translate}}</label>
              <input name="password"  type="password" class="form-control" id="password" formControlName="password" style="margin-bottom: 5px;">
              <small class="invalid" style="color: red;" *ngIf="pacienteFormGroup.get('password')?.errors?.['required'] && pacienteFormGroup.get('password')?.touched">{{'' | translate}}</small>
              <small class="invalid" style="color: red;" *ngIf="pacienteFormGroup.get('password')?.errors?.['minlength'] && pacienteFormGroup.get('password')?.touched">{{'passwordMinLength' | translate}}</small>

              <label>{{'Imagen 1' | translate}}</label>
              <input type="file" class="form-control" (change)="cargarImagen1($event,pacienteFormGroup)" accept="image/*" style="margin-bottom: 5px;">
              <small class="invalid" style="color: red;" *ngIf="pacienteFormGroup.get('imagen1')?.errors?.['required'] && pacienteFormGroup.get('imagen1')?.touched">{{'imagenRequerida' | translate}}</small>

              <label>{{'Imagen 2' | translate}}</label>
              <input type="file" class="form-control" (change)="cargarImagen2($event)" accept="image/*" style="margin-bottom: 5px;">
              <small class="invalid" style="color: red;" *ngIf="pacienteFormGroup.get('imagen2')?.errors?.['required'] && pacienteFormGroup.get('imagen2')?.touched">{{'imagenRequerida' | translate}}</small>

              <button type="submit" class="btn btn-primary" [disabled]="pacienteFormGroup.invalid">{{'Registrar' | translate}}</button>
            </form>
            </div>
          <div [class.error-message]="mensajePaciente !== ''">
            <p>{{mensajePaciente}}</p>
          </div>
        </div>
      <!--</div>-->
    </div>

    <div class="form-container" *ngIf="showEspecialistasForm">
      <div class="card" style="background-color: #333333; margin-top: 10px; margin-right: 15px; color: #ffffff;">
        <div class="card-body">
          <h3>{{'crearNuevoEspecialista' | translate}}</h3>
          <form [formGroup]="especialistaFormGroup" (ngSubmit)="registrarEspecialista()">

            <label>{{'Nombre' | translate}}</label>
            <input name="nombre"  type="text" class="form-control" id="nombre" formControlName="nombre" style="margin-bottom: 5px;">
            <small class="invalid" style="color: red;" *ngIf="especialistaFormGroup.get('nombre')?.errors?.['required'] && especialistaFormGroup.get('nombre')?.touched">{{'nombreRequerido' | translate}}</small>

            <label>{{'Apellido' | translate}}</label>
            <input name="apellido" type="text" class="form-control" id="apellido" formControlName="apellido" style="margin-bottom: 5px;">
            <small class="invalid" style="color: red;" *ngIf="especialistaFormGroup.get('apellido')?.errors?.['required'] && especialistaFormGroup.get('apellido')?.touched">{{'apellidoRequerido' | translate}}</small>

            <label>{{'Email' | translate}}</label>
            <input name="email"  type="text" class="form-control" id="email" formControlName="email" style="margin-bottom: 5px;">
            <small class="invalid" style="color: red;" *ngIf="especialistaFormGroup.get('email')?.errors?.['required'] && especialistaFormGroup.get('email')?.touched">{{'emailRequerido' | translate}}</small>
            <small class="invalid" style="color: red;" *ngIf="especialistaFormGroup.get('email')?.errors?.['email'] && especialistaFormGroup.get('email')?.touched">{{'formatoEmailNoValido' | translate}}</small>

            <label>{{'Edad' | translate}}</label>
            <input name="edad"  type="number" class="form-control" id="edad" formControlName="edad" style="margin-bottom: 5px;">
            <small class="invalid" style="color: red;" *ngIf="especialistaFormGroup.get('edad')?.errors?.['required'] && especialistaFormGroup.get('edad')?.touched">{{'edadRequerida' | translate}}</small>
            <small class="invalid" style="color: red;" *ngIf="(especialistaFormGroup.get('edad')?.errors?.['min'] || especialistaFormGroup.get('edad')?.errors?.['max']) && especialistaFormGroup.get('edad')?.touched">{{'edadEntre' | translate}}</small>

            <label>DNI</label>
            <input name="dni" type="number" class="form-control" id="dni" formControlName="dni" style="margin-bottom: 5px;">
            <small class="invalid" style="color: red;" *ngIf="(especialistaFormGroup.get('dni')?.errors?.['minLength'] || especialistaFormGroup.get('dni')?.errors?.['maxLength']) && especialistaFormGroup.get('dni')?.touched">{{'dniIncorrecto' | translate}}</small>

            <label>{{'especialidad' | translate}}: </label>
            <select name="especialidad" id="especialidad" formControlName="especialidad" (change)="onEspecialidadChange($event)">
              <option value="">{{'seleccionarSuEspecialidad' | translate}}</option>
              <option *ngFor="let especialidad of especialidades" [value]='especialidad'>{{especialidad}}</option>
              <option value="otro">{{'Otro' | translate}}</option>
            </select>
            <small class="invalid" style="color: red;" *ngIf="especialistaFormGroup.get('especialidad')?.errors?.['required'] && especialistaFormGroup.get('especialidad')?.touched">{{'' | translate}}</small>

            <div *ngIf="especialistaFormGroup.get('especialidad')?.value == 'otro'">
              <label class="custom-control-label" for="nuevaEspecialidad">{{'OtraEspecialidad' | translate}}</label>
              <input name="nuevaEspecialidad" placeholder="Especialidad" type="text" class="form-control" id="nuevaEspecialidad" formControlName="nuevaEspecialidad" (input)="validateEspecialidad()">
              <small class="invalid" style="color: red;" *ngIf="especialistaFormGroup.get('nuevaEspecialidad')?.errors?.['especialidadExistente'] && especialistaFormGroup.get('nuevaEspecialidad')?.touched">{{'EspecialidadExiste' | translate}}</small>
            </div>

            <label>{{'Imagen 1' | translate}}</label>
            <input type="file" class="form-control" (change)="cargarImagen1($event, especialistaFormGroup)" accept="image/*" style="margin-bottom: 5px;">
            <small class="invalid" style="color: red;" *ngIf="especialistaFormGroup.get('imagen1')?.errors?.['required'] && especialistaFormGroup.get('imagen1')?.touched">{{'imagenRequerida' | translate}}</small>

            <label>{{'Password' | translate}}</label>
            <input name="password"  type="password" class="form-control" id="password" formControlName="password" style="margin-bottom: 5px;">
              <small class="invalid" style="color: red;" *ngIf="especialistaFormGroup.get('password')?.errors?.['required'] && especialistaFormGroup.get('password')?.touched">{{'passwordRequerida' | translate}}</small>
              <small class="invalid" style="color: red;" *ngIf="especialistaFormGroup.get('password')?.errors?.['minlength'] && especialistaFormGroup.get('password')?.touched">{{'passwordRequerida' | translate}}</small>


            <button type="submit" class="btn btn-primary" [disabled]="especialistaFormGroup.invalid">{{'registrar' | translate}}</button>
          </form>
        </div>
        <div [class.error-message]="mensajeAdmin !== ''">
          <p>{{mensajeAdmin}}</p>
        </div>
      </div>
    </div>





    <div *ngIf="showPacientesAdmins">
      <h3>{{'pacientes' | translate}}</h3>
      <table class="table table-striped table-dark table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">{{'nombreYApellido' | translate}}</th>
            <th scope="col">{{'edad' | translate}}</th>
            <th scope="col">{{'Email' | translate}}</th>
            <th scope="col">{{'dni' | translate}}</th>
            <th scope="col">{{'tipo' | translate}}</th>
            <th scope="col">{{'Acciones' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let paciente of listadoPacientes">
            <td>{{ paciente.nombre | primeraLetraMayuscula}} {{ paciente.apellido | primeraLetraMayuscula}}</td>
            <td>{{ paciente.edad }}</td>
            <td appCopiar>{{ paciente.email }}</td>
            <td>{{ paciente.dni | formatDni}}</td>
            <td>{{ paciente.tipo }}</td>
            <td>
              <button class="btn btn-danger btn-sm" (click)="cancelar(paciente.id)">{{'eliminar' | translate}}</button>
              <button class="btn btn-primary btn-sm" (click)="descargarTurnosUsuario(paciente)">{{'descargarTurnos' | translate}}</button>
              <button class="btn btn-primary btn-sm" (click)="verHistoriaClinica(paciente)" class="btn btn-primary btn-sm">{{'VerHistoriaClinica' | translate}}</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="this.showHistoriaClinica" id="historiaClinicaModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="historiaClinicaModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="historiaClinicaModalLabel">{{'HistoriaClinicaDe' | translate}} {{ pacienteSeleccionado?.pacienteNombre }} {{ pacienteSeleccionado?.pacienteApellido }}</h5>
              <button type="button" class="btn-close" (click)="cerrarModal('historiaClinicaModal')" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div *ngIf="historiaClinica">
                <p>{{'AlturaDetalle' | translate}}: {{ historiaClinica.altura }} cm</p>
                <p>{{'PesoDetalle' | translate}}: {{ historiaClinica.peso }} kg</p>
                <p>{{'TemperaturaDetalle' | translate}}: {{ historiaClinica.temperatura }} °C</p>
                <p>{{'PresionDetalle' | translate}}: {{ historiaClinica.presion }}</p>
                <div *ngFor="let dato of historiaClinica.datosDinamicos">
                  <p>{{ dato.clave }}: {{ dato.valor }}</p>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="cerrarModal('historiaClinicaModal')">{{'cerrar' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
      <h3>{{'administradores' | translate}}</h3>
      <table class="table table-striped table-dark table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">{{'nombreYApellido' | translate}}</th>
            <th scope="col">{{'Edad' | translate}}</th>
            <th scope="col">{{'Email' | translate}}</th>
            <th scope="col">{{'dni' | translate}}</th>
            <th scope="col">{{'tipo' | translate}}</th>
            <th scope="col">{{'Acciones' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let admin of listadoAdministradores">
            <td>{{ admin.nombre | primeraLetraMayuscula }} {{ admin.apellido | primeraLetraMayuscula}}</td>
            <td>{{ admin.edad }}</td>
            <td appCopiar>{{ admin.email }}</td>
            <td>{{ admin.dni | formatDni}}</td>
            <td>{{ admin.tipo }}</td>
            <td>
              <button class="btn btn-danger btn-sm" (click)="cancelar(admin.id)">{{'Eliminar' | translate}}</button>
              <!--<button class="btn btn-primary btn-sm" (click)="descargarDatosUsuario(usuario)">Descargar Datos</button>-->
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="showEspecialistas">
      <table class="table table-striped table-dark table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">{{'nombreYApellido' | translate}}</th>
            <th scope="col">{{'Edad' | translate}}</th>
            <th scope="col">{{'especialidad' | translate}}</th>
            <th scope="col">{{'Email' | translate}}</th>
            <th scope="col">{{'dni' | translate}}</th>
            <th scope="col">{{'aprobado' | translate}}</th>
            <th scope="col">{{'Acciones' | translate}}</th>
          </tr>
        </thead>
      <tbody>
        <tr *ngFor="let usuario of listadoEspecialistas">
          <td>{{ usuario.nombre | primeraLetraMayuscula}} {{ usuario.apellido | primeraLetraMayuscula}}</td>
          <td>{{ usuario.edad }}</td>
          <td>{{ usuario.especialidad }}</td>
          <td appCopiar>{{ usuario.email }}</td>
          <td>{{ usuario.dni | formatDni}}</td>
          <td>{{ usuario.estadoAprobadoPorAdmin }}</td>
          <td>
            <button *ngIf="!usuario.estadoAprobadoPorAdmin" class="btn btn-success btn-sm" (click)="aceptar(usuario)">{{'habilitar' | translate}}</button>
            <button class="btn btn-danger btn-sm" (click)="cancelar(usuario.id)">{{'Eliminar' | translate}}</button>
          </td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>


</body>
