body {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 100%;
  color: white;
  background: url('../../../../assets/FotoHome.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y: auto;
}

.container {
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  padding: 20px;
}

h3, h4, h5 {
  color: white;
}

button {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button img {
  width: 90px;
  height: 90px;
  margin-bottom: 10px;
}

button p {
  color: white;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-outline-info {
  color: #17a2b8;
  border-color: #17a2b8;
}

.btn-outline-info:hover {
  color: white;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

button.active {
  background-color: #17a2b8;
  color: white;
}

button:disabled {
  cursor: not-allowed;
  background-color: #6c757d;
  border-color: #6c757d;
}



button {
  width: 100%;
}


.btn-primary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-cuadrado{
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin: 5px;
}


.horarios-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra los botones */
  gap: 10px;
}
