
.chart-container {
  background-color: #fff; /* Fondo blanco */
  padding: 20px; /* Espacio alrededor del gráfico */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para darle un poco de profundidad */
  max-width: 600px; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Centrar el contenedor */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.chart-title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.ct-chart {
  position: relative;
  width: 100%;
  height: 400px;
  fill: #3498db !important;
}

.ct-series-a .ct-slice-pie {
  fill: #3498db !important; /* Azul claro */
}

.ct-series-b .ct-slice-pie {
  fill: #9b59b6 !important; /* Púrpura claro */
}

.ct-series-c .ct-slice-pie {
  fill: #e74c3c !important; /* Rojo claro */
}

.ct-series-d .ct-slice-pie {
  fill: #f1c40f !important; /* Amarillo claro */
}

.ct-label {
  fill: #000 !important; /* Color del texto */
  font-weight: bold !important; /* Letra en negrita */
  text-anchor: middle !important; /* Centrar el texto */
  font-size: 30px !important; /* Tamaño del texto */
}

