<body>
  <div class="container">
    <h2>Pacientes Atendidos</h2>
    <table class="table table-striped table-dark table-bordered">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let paciente of pacientes">
          <td>{{ paciente.pacienteNombre }}</td>
          <td>{{ paciente.pacienteApellido }}</td>
          <td>{{ paciente.pacienteEmail }}</td>
          <td>
            <button (click)="verHistoriaClinica(paciente)" class="btn btn-primary btn-sm">Ver Historia Clínica</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


<div *ngIf="modalHistoriaClinica" id="historiaClinicaModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="historiaClinicaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="historiaClinicaModalLabel">Historia Clínica de {{ pacienteSeleccionado?.pacienteNombre }} {{ pacienteSeleccionado?.pacienteApellido }}</h5>
        <button type="button" class="btn-close" (click)="cerrarModal('historiaClinicaModal')" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div *ngFor="let historia of this.historiaClinica">
          <p>Especialidad: {{ historia.especialidad }}
          <p>Altura: {{ historia.altura }} cm</p>
          <p>Peso: {{ historia.peso }} kg</p>
          <p>Temperatura: {{ historia.temperatura }} °C</p>
          <p>Presión: {{ historia.presion }}</p>
          <div *ngFor="let dato of historia.datosDinamicos">
            <p>{{ dato.clave }}: {{ dato.valor }}</p>
          </div>
          <div *ngFor="let dato of historia.datosDinamicosNuevos">
            <p>{{ dato.clave }}: {{ dato.valor }}</p>
          </div>
          <hr>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cerrarModal('historiaClinicaModal')">Cerrar</button>
      </div>
    </div>
  </div>
</div>

</body>
