<nav class="navbar navbar-expand-md navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink=''>Home</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link" routerLink="usuarios">Usuarios</a>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav" *ngIf="usuariologeado; else Login">
      <li class="nav-item">
        <h3 style="color: #0e0f11; padding: 0 15px;">Hola {{usuariologeado.displayName}}!</h3>
      </li>
      <li class="nav-item">
        <button class="btn btn-light" (click)="logout()">Log Out</button>
      </li>
    </ul>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <ng-template #Login>
        <ul class="navbar-nav mb-12 mb-lg-0">
          <li class="nav-item">
            <a class="btn btn-light" style="margin-right: 10px;" routerLink="login">Loguearse</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-light" routerLink="registro">Sos nuevo? Haz click aqui para Registrarse</a>
          </li>
        </ul>
      </ng-template>
    </ul>
  </div>
</nav>
