<nav class="navbar navbar-expand-md navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink=''>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isPaciente" routerLink="solicitar-turno">Solicitar Turno</a>
        </li>
        <li class="nav-item" *ngIf="isPaciente">
          <a class="nav-link" routerLink="mis-turnos-paciente">Mis Turnos como paciente</a>
        </li>
        <li class="nav-item" *ngIf="isEspecialista">
          <a class="nav-link" routerLink="mis-turnos-especialista">Mis Turnos como especialista</a>
        </li>
        <li class="nav-item" *ngIf="isEspecialista">
          <a class="nav-link" routerLink="pacientes">Mis pacientes</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link" routerLink="usuarios">Usuarios</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link" routerLink="turnos-administrador">TURNOS ADMIN</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link" routerLink="estadisticas-admin">ESTADISTICAS ADMIN</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link" routerLink="graficos">GRAFICOS ADMIN</a>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav" *ngIf="usuariologeado; else Login">
      <li class="nav-item" *ngIf="!isAdmin">
        <a class="nav-link" routerLink="mi-perfil">Mi perfil</a>
      </li>
      <li class="nav-item d-flex align-items-center">
        <img [src]="imagenPerfil" alt="Perfil" class="img-fluid rounded-circle" style="width: 40px; height: 40px; object-fit: cover; margin-right: 10px;">
        <h5 style="color: #0e0f11; padding: 0 15px;">Hola {{usuariologeado.displayName || usuariologeado.email}}!</h5>
      </li>
      <li class="nav-item">
        <button class="btn btn-light" (click)="logout()">Log Out</button>
      </li>
    </ul>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <ng-template #Login>
        <ul class="navbar-nav mb-12 mb-lg-0">
          <li class="nav-item">
            <a class="btn btn-light" style="margin-right: 10px;" routerLink="login">Loguearse</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-light" routerLink="registro">Sos nuevo? Haz click aqui para Registrarse</a>
          </li>
        </ul>
      </ng-template>
    </ul>
  </div>
</nav>
