<form (ngSubmit)="submitEncuesta()">
  <!-- Cuadro de texto -->
  <div>
    <label for="comentarios">Comentarios:</label>
    <textarea id="comentarios" [(ngModel)]="encuesta.comentarios" name="comentarios" rows="4" required></textarea>
  </div>

  <div>
    <label>Calificación:</label>
    <ng-container *ngFor="let star of stars; index as i">
      <input type="radio" [(ngModel)]="encuesta.calificacion" [value]="i+1" name="calificacion">{{ i+1 }} estrellas
    </ng-container>
  </div>


  <div>
    <label>¿Recomendaría nuestro servicio?</label>
    <input type="radio" [(ngModel)]="encuesta.recomendacion" value="si" name="recomendacion"> Sí
    <input type="radio" [(ngModel)]="encuesta.recomendacion" value="no" name="recomendacion"> No
  </div>


  <div>
    <label>Aspectos a mejorar:</label>
    <input type="checkbox" [(ngModel)]="encuesta.mejoras.atencion" name="atencion"> Atención
    <input type="checkbox" [(ngModel)]="encuesta.mejoras.servicio" name="servicio"> Servicio
    <input type="checkbox" [(ngModel)]="encuesta.mejoras.instalaciones" name="instalaciones"> Instalaciones
  </div>


  <div>
    <label for="satisfaccion">Nivel de Satisfacción:</label>
    <input type="range" id="satisfaccion" [(ngModel)]="encuesta.satisfaccion" name="satisfaccion" min="1" max="10">
  </div>

  <button type="submit">Enviar Encuesta</button>
</form>
