<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinica</title>
    <!-- <link rel="stylesheet" href="style2.css"> -->
</head>
<body>
  <main style="font-size: arial;">
    <div class="login-container">
      <div class="row">
        <div class="colm-form">
          <div class="form-container">
            <h2 style="text-align: center; text-shadow:  1px; color: black;">Loguearse</h2>
            <input type="text" placeholder="email" [(ngModel)]="this.email">
            <input type="password" placeholder="Password" [(ngModel)]="this.clave">
            <button class="btn-login" style="background-color: black;" (click)="login()">Login</button>
            <button class="btn-new" (click)="fillUserData('beilubruffeutrei-5383@yopmail.com','123123')">Ingresar como usuario</button>
            <button class="btn-new" (click)="fillUserDataEspecialista()">Ingresar como Especialista</button>
            <button class="btn-new" (click)="fillUserDataAdmin()">Ingresar como Admin</button>
            <div [class.error-message]="mensaje !== ''">
              <p>{{this.mensaje}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h5 style="text-align: center;">Botones De acceso rapido</h5>
    <div class="quick-access-buttons">
      <button class="btn btn-primary btn-access" (click)="fillUserData('kelurippaxeu-4746@yopmail.com', '123123')">
        <img [src]="userImages['kelurippaxeu-4746@yopmail.com']" alt="Paciente 1" class="button-img">
        <div>Paciente 1</div>
      </button>
      <button class="btn btn-primary btn-access" (click)="fillUserData('wiyeisoittepei-4912@yopmail.com', '123123')">
        <img [src]="userImages['wiyeisoittepei-4912@yopmail.com']" alt="Paciente 2" class="button-img">
        <div>Paciente 2</div>
      </button>
      <button class="btn btn-primary btn-access" (click)="fillUserData('youheddaujifa-1419@yopmail.com', '123123')">
        <img [src]="userImages['youheddaujifa-1419@yopmail.com']" alt="Paciente 3" class="button-img">
        <div>Paciente 3</div>
      </button>
      <button class="btn btn-primary btn-access" (click)="fillUserData('wanneugoihoka-1312@yopmail.com', '123123')">
        <img [src]="userImages['wanneugoihoka-1312@yopmail.com']" alt="Especialista 1" class="button-img">
        <div>Especialista 1</div>
      </button>
      <button class="btn btn-primary btn-access" (click)="fillUserData('quatreguhuce-3168@yopmail.com', '123123')">
        <img [src]="userImages['quatreguhuce-3168@yopmail.com']" alt="Especialista 2" class="button-img">
        <div>Especialista 2</div>
      </button>
      <button class="btn btn-primary btn-access" (click)="fillUserData('adminprueba2@hotmail.com', '123123')">
        <img [src]="userImages['adminprueba2@hotmail.com']" alt="Admin" class="button-img">
        <div>Admin</div>
      </button>
    </div>
</main>
<footer>

</footer>
</body>
</html>
