<body>
  <div class="container mt-5">
    <h1>Turnos</h1>
    <div class="row mb-3">
      <div class="col">
        <button (click)="quitarFiltros()" class="btn btn-info m-1">Quitar Filtros</button>
      </div>
    </div>
    <!-- Filtros -->
    <div class="row">
      <div class="col">
        <h3>Especialidades</h3>
        <div>
          <button
            *ngFor="let especialidad of especialidades"
            (click)="filtrarPorEspecialidad(especialidad)"
            [class.active]="especialidadSeleccionada === especialidad"
            class="btn btn-primary m-1"
          >
            {{ especialidad }}
          </button>
        </div>
      </div>
      <div class="col">
        <h3>Especialistas</h3>
        <div>
          <button
            *ngFor="let especialista of especialistas"
            (click)="filtrarPorEspecialista(especialista)"
            [class.active]="especialistaSeleccionado === especialista"
            class="btn btn-info m-1"
          >
            {{ especialista }}
          </button>
        </div>
      </div>
    </div>

    <!-- Tabla de Turnos -->
    <table class="table table-dark table-striped mt-3">
      <thead>
        <tr>
          <th>Especialidad</th>
          <th>Especialista</th>
          <th>Fecha y Hora</th>
          <th>Paciente</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let turno of turnosFiltrados">
          <td>{{ turno.especialidad }}</td>
          <td>{{ turno.especialista }}</td>
          <!--<td>{{ turno.dia | date: 'yyyy-MM-dd' }} {{ convertirHora(turno.horario) | date: 'hh:mm a' }}</td>-->
          <td>{{  turno.horario }}</td>
          <td>{{ turno.pacienteNombre }} {{ turno.pacienteApellido }}</td>
          <td>{{ turno.estado }}</td>
          <td>
            <button
              *ngIf="puedeCancelar(turno)"
              (click)="abrirModalCancelar(turno)"
              class="btn btn-danger">
              Cancelar Turno
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Modal Cancelar Turno -->
  <div class="modal" tabindex="-1" [ngClass]="{'d-block': modalVisible}" role="dialog" style="color: black;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Cancelar Turno</h5>
          <button type="button" class="close" (click)="cerrarModal()">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>¿Estás seguro de que deseas cancelar este turno?</p>
          <textarea [(ngModel)]="comentarioCancelacion" class="form-control" rows="3" placeholder="Motivo de la cancelación"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
          <button type="button" class="btn btn-danger" (click)="cancelarTurno()">Cancelar Turno</button>
        </div>
      </div>
    </div>
  </div>
</body>
