<body>
  <div class="graficos-container">
    <app-grafico-especialidades></app-grafico-especialidades>
    <app-grafico-dias></app-grafico-dias>
    <app-grafico-turnos-por-medico></app-grafico-turnos-por-medico>
    <app-grafico-turnos-finalizados-por-medico></app-grafico-turnos-finalizados-por-medico>-->

    <app-grafico-visitas-clinica></app-grafico-visitas-clinica>
    <app-grafico-visitas-logs></app-grafico-visitas-logs>
    <app-grafico-pacientes-por-especialidad></app-grafico-pacientes-por-especialidad>
    <app-grafico-medicos-especialidad></app-grafico-medicos-especialidad>
    <app-grafico-encuesta></app-grafico-encuesta>
    <app-grafico-turnos-paciente></app-grafico-turnos-paciente>

  </div>
</body>
