body {
  font-family: 'Poppins', sans-serif;
  position: fixed;
  margin: 0;
  padding-top: 70px;
  width: 100%;
  height: 100%;
  color: white;
  background: url('../../../assets/FotoHome.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y: auto; /* Permitir desplazamiento vertical */
  padding-top: 100px;
}

.graficos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Espacio entre los gráficos */
}
