@import '~chartist/dist/chartist.min.css';

.ct-label {
  fill: #000 !important;
  font-weight: bolder !important;
  font-size: 18px !important;
  text-anchor: middle !important;
}

.ct-horizontal .ct-label {
  font-weight: bolder !important;
  font-size: 18px !important;
}

.ct-vertical .ct-label {
  font-weight: bolder !important;
  font-size: 18px !important;
}
